{% schema %}
{
  "name": "Custom HTML",
  "settings": [
    {
      "type": "textarea",
      "id": "custom_html",
      "label": "Custom HTML",
      "default": "<h2>Welcome to my store!</h2>\n<p>This is a custom HTML section.</p>"
    }
  ],
  "presets": [
    {
      "name": "Custom HTML Section",
      "category": "Custom"
    }
  ]
}
{% endschema %}
<style>
  .lead-capture-container{
    background-image: url('https://cdn.shopify.com/s/files/1/0896/2467/4598/files/home_lead-capture-img.webp?v=1735685420'); background-color:#262626;
    min-height:30vw; background-repeat: no-repeat;background-size: cover;background-position:left; padding:10vw;display:flex;align-items:center;
  }
  .lead-capture-content{
  position:relative;width:40vw;left:50vw;padding-right:10vw;
  }
  #hbspt-form-fec5794c-b55f-47bd-a8f3-47af179d9b05{width:75%;}
  @media screen and (max-width: 432px){
  .lead-capture-container{background-size:auto;padding:5vw;text-align:center;}
  .lead-capture-content{width:100vw;left:0;padding-right:0;}
  }
</style>
<div class="custom-html-section">
  <div class="lead-capture-container">
    <div class="lead-capture-content">
  <h2 style="color: #fff; font-size: 3.2rem; line-height: 3.8rem;font-weight:200;margin:0;">STAY UP TO DATE & GET SWAG EXCLUSIVES DIRECT TO YOU!</h2>
  <p style="color: #fff; font-size: 2.2rem;margin:0;">Join thousands in our email community.</p>
  <div style="margin:3rem 0;">
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
<script>
  hbspt.forms.create({
    portalId: "48453397",
    formId: "1278a5e5-91a0-479b-89af-e7f372d6be6c",
    region: "na1"
  });
</script>

</div>
    </div>
</div>

</div>


